
/* home custom styles */
.home-bg{
    background-color: #FFF9F4;
    padding-bottom: 100px;
   padding-left: 100px;
    
}
.title{
    font-size: 4.5rem;
    font-weight: 650;
}
.orange-color{
    color:#FA804C;
}
.blue-color{
    color:rgba(2, 2, 41, 0.618);
}
/* shoes custom styles */
.shoe-bg{
    background-color: rgba(225, 225, 225, 0.946);
    width: 310px;
    height: 310px;
 }

@media (max-width: 576px){
    .navbar{
        width: 100%;
        
    }
    .home-bg img{
        width: 100%;
    }
}

